<div ng-controller="addtheatrecontroller">
  <div class="row">
    <div class="col-sm-6">
  <div class="form-group">
    <label>City</label>
    <select ng-model="addnewTheatre.city_name"  id="cityName" class="form-control">
      <option value="">---Choose a city---</option>
      <option ng-repeat = "k in cityList | unique: 'city_name'">{{k.city_name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Theatre</label>
    <select ng-model="addnewTheatre.theatre_name" class="form-control">
      <option>---Selected---</option>
      <option ng-repeat = "m in cityList | filter:addnewTheatre.city_name">{{m.theatre_name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Theatre location</label>
      <input type="text" placeholder="Location" ng-model="addnewTheatre.place" class="form-control">
  </div>
  <div>
      <button ng-click="insertTheatre()">Add threatre</button>
  </div>
</div>
<div class="col-sm-6"></div>
</div>
</div>
